/*
* @Author: sean
* @Date:   2017-04-26 19:08:44
* @Last Modified by:   sean
* @Last Modified time: 2017-07-14 22:52:21
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	border: 0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

img {
	display: inline-block;
	width: 30%;
	height: 15%;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	border: 0px;
	padding:0px;
	width:100%;
    min-width: 600px;
    top: 0;
}

.navbar.large {
	opacity: .75;
	justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.navbar-item {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	cursor: pointer;
	color: white;
	display: inline-block;
	padding: 15px 0em 15px 0em;
	width: 10em;
	height: 3em;
	margin: 0px;
	opacity: 1;
}

nav ul {
	overflow: auto;
	text-align: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
}


.active-nav, nav li:hover {
	color: black;
	background-color: darkgray;
}

.active-nav {
	text-decoration: underline;
}

.content-header{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #444;
	padding: 5px;
	margin-bottom: 20px;
	border: 2px solid #bbb;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 120px;
}

.content-box {
	border: 0px;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-top: 75px;
	margin: 10px;
	margin-top: -65px;
	width:40%;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-width: 100%;
}

.content {
	font-family: 'Open Sans', sans-serif;
}

#main-content {
	overflow: hidden;
	width: 100%;
    margin: 0 auto;
	background-color: white;
	border: 1px solid gray;
}

.banner {
	background-image: url('img/banner_front.jpg');
	position: relative;
	display: inline-block;
	width: 100%;
	height: 450px;
	background-size: cover;
	background-position: center;
}

#profile-box {
	padding-top: 50px;
	margin: auto;
	width: 100%;
	min-width: 600px;
	vertical-align: middle;
	z-index: 1;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
}

#profile-text {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 300px;
	display: inline;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap
	color: #333;
}

#profile-picture {
	margin-left: auto;
	margin-right: auto;
	background-image: url('img/profile.jpg');
	background-size: cover;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 2px solid black;
	display: inline-block;	
}

section {
	display: block;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color: #fff;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #fff;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
